body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'montserrat', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto condensed', sans-serif;
  color: #4d5769;
}
p {
  font-family: 'montserrat', sans-serif;
  font-size: 15px;
  line-height: 25px;
}
